<div class="panel panel-default">
	<div class="panel-heading">
		<h4>{{#if glyph}}<span class="glyphicon {{ glyph }}"></span> {{/if}}{{{ title }}}</h4>
	</div>
	<div class="panel-body">
	<form class="form-horizontal" id="{{idForm}}" role="form">
	{{{html}}}
	{{#each otherButtons}}
		<button type="button" class="btn btn-default" id="{{this.id}}">{{this.text}}</button>
	{{/each}}
	{{#if links.cancel}}
	<a href="#{{links.cancel}}" class="btn btn-default" role="button">Annuler</a>
	{{/if}}
	<button type="submit" class="btn btn-primary">Valider</button>
	</form>
	</div>
</div>




