{{#if showMessages}}
<li><a href="#" id="toggleShowMessages{{id}}" data-toggle="tooltip" data-placement="bottom" title="Cliquez pour masquer les messages"><span class="glyphicon glyphicon-eye-open"></span></a></li>
{{else}}
<li><a href="#" id="toggleShowMessages{{id}}" data-toggle="tooltip" data-placement="bottom" title="Cliquez pour afficher les messages"><span class="glyphicon glyphicon-eye-close"></span></a></li>
{{/if}}
{{#if user.isOff}}
<li><a href="#Connexion" class="boutonConnexion">Connexion</a></li>
{{else}}
{{#if user.classeFiltre}}
<li class="bg-danger"><a href="#{{links.classe}}{{user.classeFiltre.id}}">Classe : {{ user.classeFiltre.nom }}</a></li>
{{/if}}
<li><a href="" id="modifMyAccount{{id}}" data-toggle="tooltip" data-placement="bottom" title="Modifier vos informations">{{user.prenom}} {{user.nom}}</a></li>
<li><a href="#Deconnexion" class="boutonConnexion">Déconnexion</a></li>
{{/if}}
