{{#if add}}<tr id="{{id}}">{{/if}}
{{#if params.addButton}}<td>
<button type="button" class="btn {{#if item._UF_exists}}btn-success{{else}}btn-danger{{/if}} btn-sm" name="userAddButton" _id="{{ item.id }}" data-toggle="tooltip" data-placement="top" title="Ajouter un devoir"><span class="glyphicon glyphicon-plus"> {{item._nbUF}}</span></button>
</td>{{/if}}
{{#if params.showIds}}<td><span class="badge">{{ item.id }}</span></td>{{/if}}
{{#if params.showPseudo}}<td>{{ item.pseudo }}</td>{{/if}}
<td>{{ item.nom }} {{ item.prenom }}</td>
{{#if params.showEmail}}
<td>
	{{#if item.email}}
		<a href="mailto:{{item.email}}"><span class="glyphicon glyphicon-envelope"></span></a>
	{{/if}}
</td>
{{/if}}
{{#if params.showClasses}}
<td>
	<a href="" name="filtreClasseButton" _id="{{ item.idClasse }}" >
		{{#if params.filtre.idClasse}}
			<span class="label label-danger">{{ item.nomClasse }}</span>
		{{else}}
			{{ item.nomClasse }}
		{{/if}}
	</a>
</td>
{{/if}}
<td>{{ item.dateFr }} à {{ item.hour }}</td>
{{#if params.showRanks}}
<td>{{ item.rank }}</td>
{{/if}}
{{#if params.canModif}}
<td align="right">
	<div class="btn-group" role="group">
{{!bouton lock/unlock}}
	<button type="button" class="btn {{#if item.locked}}btn-danger{{else}}btn-success{{/if}} btn-sm" name="lockButton" _id="{{ item.id }}" data-toggle="tooltip" data-placement="top" title="Vérouiller/Déverrouiller"><span class="glyphicon glyphicon-lock"></span></button>
{{!Bouton d'édition}}
	<button type="button" class="btn btn-default btn-sm" name="editButton" _id="{{ item.id }}" data-toggle="tooltip" data-placement="top" title="Modifier"><span class="glyphicon glyphicon-pencil"></span></button>
{{!Bouton suppression}}
	<button type="button" class="btn btn-default btn-sm {{#if item.locked}}disabled{{/if}}" name="deleteButton" _id="{{ item.id }}" data-toggle="tooltip" data-placement="top" title="Supprimer"><span class="text-danger glyphicon glyphicon-trash"></span></button>
{{#if params.showNote}}
{{#if item.isEleve}}
	<a href="#notes-eleve:{{ item.id }}" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="top" title="Voir les notes"></span></a>
{{else}}
	<a href="#" class="btn btn-primary btn-sm disabled" role="button"><span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="top" title="Voir les notes"></span></a>
{{/if}}
{{/if}}
	</div>
</td>
{{/if}}
{{#if add}}</tr>{{/if}}
