{{#if users}}
<li class="list-group-item list-group-item-warning">
Vous avez répondu : ${{users}}$.
</li>
{{/if}}
{{#if userIsEmpty}}
	{{#if goodIsEmpty}}
<li class="list-group-item list-group-item-success">bonne réponse.</li>
	{{/if}}
{{else}}
	{{#if goodIsEmpty}}
<li class="list-group-item list-group-item-danger">La bonne réponse était $\varnothing$, c'est à dire aucune équation.</li>
	{{/if}}
{{/if}}
{{#if goodValues}}
	{{#each goodValues}}
<li class="list-group-item list-group-item-success">${{ this.info.tex }}$ est une <b>bonne réponse</b>.</li>
	{{/each}}
{{/if}}
{{#if lefts}}
<li class="list-group-item list-group-item-danger">
<b>Vous n'avez pas donné</b> les équations suivantes : ${{lefts}}$
</li>
{{/if}}
{{#if bads}}
<li class="list-group-item list-group-item-danger">
Ces équations que vous avez données sont <b>fausses</b> : ${{bads}}$
</li>
{{/if}}
