{{#if users}}
<li class="list-group-item list-group-item-warning">
{{ tag }} : Vous avez répondu : $\left\lbrace {{users}} \right\rbrace$.
</li>
{{#if goodIsEmpty}}
<li class="list-group-item list-group-item-danger">
La bonne réponse était $\varnothing$, c'est à dire : <b>aucune solution</b>.
</li>
{{/if}}
{{else}}
	{{#if goodIsEmpty}}
<li class="list-group-item list-group-item-success">
{{ tag }} : Vous avez répondu $\varnothing$. Bonne réponse.
</li>
	{{else}}
<li class="list-group-item list-group-item-warning">
{{ tag }} : Vous avez répondu $\varnothing$.
</li>
	{{/if}}
{{/if}}

{{#each goods}}
<li class="list-group-item list-group-item-success">
	Vous avez donné la solution ${{ this.userTex }}$.
	{{#if this.arrondi}}
	{{! Un arrondi est demandé }}
		{{#if this.arrondi.bad}}
		{{! L'utilisateur a mal arrondi : il a donné une formule exacte ou a tronqué ou n'a pas donné le bon nombre de décimales }}
	Il fallait arrondir à ${{ this.arrondi.resolution }}$ près, soit : ${{ this.arrondi.good }}$.</dd>
		{{else}}
	Bonne réponse.
		{{/if}}
	{{else}}
		{{#if this.approximation}}
	Votre résultat est une <b>approximation</b> de la bonne réponse : ${{ this.goodTex }}$.
		{{else}}
			{{#if this.formeOk}}
	C'est une <b>bonne réponse.</b>
			{{else}}
	C'est une bonne réponse, mais vous devez donner le résultat sous <b>forme simplifiée</b> : ${{ this.goodTex }}$.
			{{/if}}
		{{/if}}
	{{/if}}
	{{#if this.moduloError}}
	Vous avez oublié le <b>modulo</b>. Ici : $k\cdot {{this.moduloError}}$.
	{{/if}}
</li>
{{/each}}
{{#if lefts}}
<li class="list-group-item list-group-item-danger">
<b>Vous n'avez pas donné</b> les solutions suivantes : ${{lefts}}$
</li>
{{/if}}
{{#if bads}}
<li class="list-group-item list-group-item-danger">
Ces solutions que vous avez données sont <b>fausses</b> : ${{bads}}$
</li>
{{/if}}
