<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{{ title }}</h4></div>
	<ul class="list-group">
{{#if text}}
	<li class="list-group-item list-group-item-warning">{{ text }}</li>
{{/if}}
{{#each values}}
{{#with this}}
		<li class="list-group-item list-group-item-{{#if ok}}success{{else}}danger{{/if}}">
<dl class="dl-horizontal" name="{{ name }}">
	<dt>{{ tag }}</dt>
{{#if ok}}
	{{#if good_arrondi}}
		{{! Un arrondi est demandé }}
		{{#if mauvais_arrondi}}
			{{! L'utilisateur a mal arrondi : il a donné une formule exacte ou a tronqué ou n'a pas donné le bon nombre de décimales }}
			<dd>Vous avez donné : ${{ userTex }}$. Il fallait arrondir à ${{ resolution }}$ près, soit : ${{ good_arrondi }}$.</dd>
		{{else}}
			<dd>Vous avez donné : ${{ userTex }}$, à ${{ resolution }}$ près. Bonne réponse.</dd>
		{{/if}}
	{{else}}
		{{#if approximation}}
			{{! Valeur approximative }}
			<dd>Vous avez donné : ${{ userTex }}$. Votre résultat est une approximation de la bonne réponse : ${{ good }}$.</dd>
		{{else}}
			{{! Valeur considérée exacte }}
			<dd>Vous avez donné : ${{ userTex }}$. Bonne réponse.</dd>
			{{#unless formeOk}}
				{{! Il faut simplifier }}
			<dd><b>Attention :</b> Vous devez donner le résultat sous une forme simplifiée : ${{ good }}$.</dd>
			{{/unless}}
		{{/if}}
	{{/if}}
	{{#if erreur.moduloError}}
			<dd>Vous avez oublié le <b>modulo</b>. Ici : $k\cdot {{erreur.moduloError}}$.</dd>
	{{/if}}
{{else}}
	{{! Mauvaise réponse }}
			{{#if good_arrondi}}
			<dd>Vous avez donné : ${{ userTex }}$. La bonne réponse était ${{ good_arrondi}}$ à ${{ resolution }}$ près.</dd>
			{{else}}
			<dd>Vous avez donné : ${{ userTex }}$. La bonne réponse était ${{ good }}$.</dd>
			{{/if}}
	{{#unless formeOk}}
	{{! Il faut tout de même simplifier }}
			<dd><b>Attention :</b> Vous devez donner le résultat sous une forme simplifiée.</dd>
	{{/unless}}
{{/if}}
</dl>
		</li>
{{/with}}
{{/each}}
	</ul>
</div>
